<div class="container">

  <!-- HEADER -->
  <header class="topbar">
<h2>PROMOCIONES</h2>
<span class="user">Administrador<br> Miguel Morales</span>
</header>

  <!-- CONTENEDOR BLANCO -->
  <div class="card-container">

    <!-- BOTÓN -->
    <div class="actions">
      <button class="btn-primary" (click)="abrirCrear()">
        <span class="icon">+</span>
        Agregar promoción
      </button>
    </div>

    <!-- GRID -->
    <div class="grid">

      <!-- CARD -->
      <div
        class="promo-card"
        *ngFor="let promo of promociones">

        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCGZlr4gLcP_lnP-wXWHiXholmsGihWJOqfA&s"
          alt="Promoción"
          class="promo-image">

        <span class="discount">
          -{{ promo.discountValue }}%
        </span>

        <div class="promo-body">
          <h2>{{ promo.namePromotion }}</h2>

          <p>
            Código:
            <span>
              {{ promo.typePromotion === 'CODIGO' ? promo.promoCode : 'Automática' }}
            </span>
          </p>

          <p>
            {{ promo.startDate | date }} - {{ promo.endDate | date }}
          </p>

          <div class="promo-actions">
            <button class="btn-edit" (click)="abrirModalEditar(promo)">
              Editar
            </button>

            <button class="btn-delete" (click)="eliminarPromocion(promo.idPromotion)">
              Eliminar
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- MODAL -->
<div *ngIf="mostrarModal" class="modal-backdrop">

  <div class="modal">
    <h2>
      {{ modoEdicion ? 'Editar Promoción' : 'Crear Promoción' }}
    </h2>

    <form class="modal-form">

      <div>
        <label>Nombre *</label>
        <input [(ngModel)]="form.namePromotion" name="namePromotion">
      </div>

      <div>
        <label>Tipo de promoción *</label>
        <select [(ngModel)]="form.typePromotion" name="typePromotion">
          <option value="">Seleccione</option>
          <option value="CODIGO">Código</option>
          <option value="AUTOMATICA">Automática</option>
        </select>
      </div>

      <div *ngIf="form.typePromotion === 'CODIGO'">
        <label>Código promocional *</label>
        <input [(ngModel)]="form.promoCode" name="promoCode">
      </div>

      <div>
        <label>Valor del descuento</label>
        <input type="number" [(ngModel)]="form.discountValue" name="discountValue">
      </div>

      <div>
        <label>Fecha inicio *</label>
        <input type="date" [(ngModel)]="form.startDate" name="startDate">
      </div>

      <div>
        <label>Fecha fin *</label>
        <input type="date" [(ngModel)]="form.endDate" name="endDate">
      </div>

    </form>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
      <button class="btn-save" (click)="guardar()">
        {{ modoEdicion ? 'Actualizar' : 'Crear' }}
      </button>
    </div>
  </div>
</div>