/* RESET BASE */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* MUY IMPORTANTE EN ANGULAR */
app-root {
  display: block;
  width: 100%;
  height: 100%;
}

/* LAYOUT PRINCIPAL */
.layout {
  display: flex;
  width: 100%;
  height: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background-color: #1f2937;
  color: white;
  padding: 1rem;
  flex-shrink: 0;
}

/* MENU */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #374151;
}

/* CONTENIDO */
.main-content {
  flex: 1;
  background-color: #f3f4f6;
  padding: 2rem;
  overflow-y: auto;
}
